body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Запобігає появі горизонтальної прокрутки */
}

.main_container{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
}

.canvas{
    flex: 0 0 737px;
}

.side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: #B1DDF1;
}

.control_buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fieldset{
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding:1px !important;
}

.legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}