body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Запобігає появі горизонтальної прокрутки */
}

.main_container{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
}

.canvas{
    flex: 0 0 737px;
}

.side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: #B1DDF1;
    gap: 20px; /* General gap between top and bottom blocks */
}

.control_buttons{
    display: flex;
    flex-direction: column;
    gap: 5px; /* Tight spacing for Start/Stop buttons */
    align-tems: bottom;
}

.fieldset{
    margin-bottom: 1em !important;
    border: 2px solid #666 !important;
    padding: 2px !important;

    width: 120px;
}

.legend {
    padding: px 10px !important;
    float:none;
    width:auto;
}

.field_set{
    field-sizing: content;

}

.upper_line {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.deleting{
    vertical-align: text-top;
    width: 200px;
}

/* Контейнер кнопки */
.button_create {
    flex: 0 0 auto;         /* Не дає контейнеру розтягуватися */
}

.row2 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Вирівнює кнопку та меню по одній лінії */
    gap: 15px;
    margin-bottom: 20px;
}

.menu_create {
    display: block;
}

.hidden {
    display: none;
}