<fieldset class="fieldset">
    <legend class="legend"> Planets </legend>
        <div><input type="checkbox" id="planet1" name="vehicle1" value="Bike">
        <label for="planet1"> Mercury</label><br></div>
        <div><input type="checkbox" id="planet2" name="vehicle2" value="Car">
        <label for="planet2"> Venus</label><br></div>
        <div><input type="checkbox" id="planet3" name="vehicle3" value="Boat">
        <label for="planet3"> Earth</label><br></div>
        <div><input type="checkbox" id="planet4" name="vehicle3" value="Boat">
        <label for="planet4"> Mars </label><br></div>
</fieldset>


<div class="control_buttons">
    <button id="animate" type="button" class="btn btn-success">Start</button>
    <button id="stop" type="button" class="btn btn-warning">Stop</button>
    <button id="resume" type="button" class="btn btn-primary">Continue</button>
    <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Reset</button>
</div>
