
<div class="upper_line">
    <fieldset class="fieldset">
        <legend class="legend"> Planets </legend>
        <div class="field_set">
            <div><input type="checkbox" id="planet1" name="planet" value="Bike" checked>
            <label for="planet1"> Mercury</label><br></div>
            <div><input type="checkbox" id="planet2" name="planet" value="Car" checked>
            <label for="planet2"> Venus</label><br></div>
            <div><input type="checkbox" id="planet3" name="planet" value="Boat" checked>
            <label for="planet3"> Earth</label><br></div>
            <div><input type="checkbox" id="planet4" name="planet" value="Boat" checked>
            <label for="planet4"> Mars </label><br></div>
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="legend">Stars</legend>
        <div id="stars-container" class="checkbox-row"></div>
    </fieldset>

</div>

<div class="control-item">
    <label for="delete-star-menu">Delete star:</label>
    <select id="delete-star-menu" class="form-select">
        <option value="" selected disabled>Choose a star...</option>
        </select>
</div>

<div class="control_buttons">
    <button id="animate" type="button" class="btn btn-success">Start</button>
    <button id="stop" type="button" class="btn btn-warning">Stop</button>
    <button id="resume" type="button" class="btn btn-primary">Continue</button>
    <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Reset</button>
</div>
