<!--
1AU = center/12 * 2 px
-->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} </title>
</head>

<canvas id="circleCanvas" width="700" height="700" style="background: #111;"></canvas>

<script type="module">
    import { Vector, CelestialBodyTraced, StarTraced, sun_force } from "{% static 'mainpage/classes.js' %}";
    import { update_planets, update_stars } from "{% static 'mainpage/move_funcs.js' %}";
    import { inner_solar_system_setup, draw_setup } from "{% static 'mainpage/sol_sys_setup.js' %}";
    // import { draw_setup } from "{% static 'mainpage/ill_name_it_later.js' %}";

    const canvas = document.getElementById('circleCanvas');
    const ctx = canvas.getContext('2d');

    const center = canvas.width / 2;
    const scaling_factor = center / 12 * 2;
    const dt = 0.2;

    // setup
    var r_st = new Vector(1 * scaling_factor + center, 0);
    var v_st = new Vector(0.016 * scaling_factor / 4, 0.01728 * scaling_factor / 4);
    const star1 = new StarTraced(r_st, v_st, 1000, 2);
    star1.trace.update_trace(r_st.get_coordinates());

    var r_st = new Vector( - 1 * scaling_factor + 2* center, 2 * center);
    var v_st = new Vector(- 0.016 * scaling_factor / 4, - 0.01728 * scaling_factor / 4);
    var star2 = new StarTraced(r_st, v_st, 1000, 2);
    star2.trace.update_trace(r_st.get_coordinates());

    var r_st = new Vector( - 1 * scaling_factor + 2* center, 1 * center);
    var v_st = new Vector(- 0.016 * scaling_factor / 4, - 0.01728 * 3 * scaling_factor / 4);
    var star3 = new StarTraced(r_st, v_st, 1000, 8);
    star3.trace.update_trace(r_st.get_coordinates());

    var objects_and_colors = inner_solar_system_setup(center, scaling_factor)

    // !!!need to update after adding new object
    var stars = [objects_and_colors[0][0], star1, star2, star3];
    var colors_stars = [objects_and_colors[1][0], "#F54927", "#27ADF5", "#A11212"];
    var planets = objects_and_colors[0].slice(1);
    var colors_planets = objects_and_colors[1].slice(1);

    const startButton = document.getElementById('animate');
    let isRunning = false;
    draw_setup(ctx, stars, colors_stars, planets, colors_planets);

    function animate() {
        if (!isRunning) return;
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        [stars, colors_stars] = update_stars(ctx, stars, colors_stars, scaling_factor, dt);
        [planets, colors_planets] = update_planets(ctx, planets, stars, colors_planets, scaling_factor, dt);
        requestAnimationFrame(animate);
    }

    // handling start button
    startButton.addEventListener('click', () => {
        if (!isRunning) {
            isRunning = true;
            animate();
            startButton.disabled = true;
        }
    })

</script>

<a href=""><button type="button" class="btn btn-danger">Reset</button></a>
<button id="animate" type="button" class="btn btn-success">Start</button>
