<!--
1AU = center/12 * 2 px
-->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'mainpage/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} </title>
</head>
<body><div class="main_container">
    <div class="canvas">
        <canvas id="circleCanvas" width="737" height="737" style="background: #111;"></canvas>

        <script type="module">
            import { Vector, CelestialBodyTraced, StarTraced, sun_force } from "{% static 'mainpage/classes.js' %}";
            import { update_planets, update_stars } from "{% static 'mainpage/move_funcs.js' %}";
            import { inner_solar_system_setup, draw_setup } from "{% static 'mainpage/sol_sys_setup.js' %}";
            import { getCheckboxInfo, buildStarCheckboxes, getCheckboxStarInfo, updateDeleteMenu } from "{% static 'mainpage/html_logic.js' %}";

            const canvas = document.getElementById('circleCanvas');
            const ctx = canvas.getContext('2d');

            const center = canvas.width / 2;
            const scaling_factor = center / 12 * 2;
            const dt = 0.2;

            // setup
            var r_st = new Vector(1 * scaling_factor + center, 0);
            var v_st = new Vector(0.016 * scaling_factor / 4, 0.01728 * scaling_factor / 4);
            const star1 = new StarTraced(r_st, v_st, 1000, 2, "star1");
            star1.trace.update_trace(r_st.get_coordinates());

            var r_st = new Vector( - 1 * scaling_factor + 2* center, 2 * center);
            var v_st = new Vector(- 0.016 * scaling_factor / 4, - 0.01728 * scaling_factor / 4);
            var star2 = new StarTraced(r_st, v_st, 1000, 2, "star2");
            star2.trace.update_trace(r_st.get_coordinates());

            var r_st = new Vector( - 1 * scaling_factor + 2* center, 1 * center);
            var v_st = new Vector(- 0.016 * scaling_factor / 4, - 0.01728 * 3 * scaling_factor / 4);
            var star3 = new StarTraced(r_st, v_st, 1000, 1, "star3");
            star3.trace.update_trace(r_st.get_coordinates());

            var objects_and_colors = inner_solar_system_setup(center, scaling_factor)

            // const in a sense of checkbox changes
            var stars_const = [objects_and_colors[0][0], star1, star2];
            var colors_stars_const = [objects_and_colors[1][0], "#F54927", "#27ADF5"];
            const planets_const = objects_and_colors[0].slice(1);
            const colors_planets_const = objects_and_colors[1].slice(1);

            // dummy values for checkbox-related changes
            var stars = stars_const;
            var colors_stars = colors_stars_const;
            var planets = planets_const;
            var colors_planets = colors_planets_const;


            const startButton = document.getElementById('animate');
            const stopButton = document.getElementById('stop');
            const resumeButton = document.getElementById('resume');
            const container = document.getElementById('stars-container');

            let isRunning = false;
            let isStopped = false;

            draw_setup(ctx, center, stars, colors_stars, planets, colors_planets);
            buildStarCheckboxes(document, stars);
            var deleteMenu = document.getElementById('delete-star-menu');
            updateDeleteMenu(deleteMenu, document, stars);


            function animate() {
                if (!isRunning) return;
                if (isStopped) return;
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                [stars, colors_stars] = update_stars(ctx, stars, colors_stars, scaling_factor, dt);
                [planets, colors_planets] = update_planets(ctx, planets, stars, colors_planets, scaling_factor, dt);
                requestAnimationFrame(animate);
            }

            // handling start button
            startButton.addEventListener('click', () => {
                if (!isRunning) {
                    isRunning = true;
                    animate();
                    startButton.disabled = true;
                    document.querySelectorAll('input[name="planet"]').forEach(box => {
                        box.disabled = true;
                    });
                    document.querySelectorAll('input[name="star"]').forEach(cb => {
                        cb.disabled = true;
                    });
                }
            })

            stopButton.addEventListener('click', () => {
                isStopped = true;
            })

            resumeButton.addEventListener('click', () => {
                isStopped = false;
                animate();
            })

            document.querySelectorAll('input[name="planet"]').forEach(checkbox => {
                checkbox.addEventListener('change', () => {
                    // we shall give star info that considers star checkbox (e.g. dummy stars)
                    [planets, colors_planets] = getCheckboxInfo(document, ctx, center, stars, colors_stars, planets_const, colors_planets_const);

                });
            });

            document.querySelectorAll('input[name="star"]').forEach(checkbox => {
                checkbox.addEventListener('change', () => {
                    // we shall give planet info that considers planet checkbox (e.g. dummy planets)
                    [stars, colors_stars] = getCheckboxStarInfo(document, ctx, center, stars_const, colors_stars_const, planets, colors_planets);

                });
            });
            deleteMenu.addEventListener('change', (event) => {
                const starName = event.target.value;


                colors_stars_const = colors_stars_const.filter((_, i) => stars_const[i].name !== starName);
                stars_const = stars_const.filter(star => star.name !== starName);
                colors_stars = colors_stars.filter((_, i) => stars[i].name !== starName);
                stars = stars.filter(star => star.name !== starName);

                draw_setup(ctx, center, stars, colors_stars, planets, colors_planets);
                updateDeleteMenu(deleteMenu, document, stars);
                buildStarCheckboxes(document, stars_const);
            });




        </script>
    </div>
    <div class="side">
        {% include "mainpage/control_panel.html" %}
    </div>
</div> </body>